.site-header {
  z-index: 10;
  width: 100%;
  height: fit-content;
  font-size: 1.5rem;
  background-color: var(--indigo);
  border-bottom: 4px solid var(--black);
}

.site-nav_menu {
  padding: 1.5rem 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.site-nav_menu li {
  list-style-type: none;
}

.site-nav__link {
  color: inherit;
}
.site-nav__link:hover {
  transform: translateY(-4px);
  color: var(--yellow);
}

.hero-section {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section {
  margin-bottom: 3rem;
}

.main-title {
  font-size: 5rem;
  text-shadow: var(--text-shadow);
}

.text--multi-color {
  display: inline-block;
}

.text--multi-color span:nth-child(10n + 1) {
  color: var(--blue);
}

.text--multi-color span:nth-child(10n + 2) {
  color: var(--yellow);
}

.text--multi-color span:nth-child(10n + 3) {
  color: var(--red);
}

.text--multi-color span:nth-child(10n + 4) {
  color: var(--green-dark);
}

.text--multi-color span:nth-child(10n + 5) {
  color: var(--yellow);
}

.text--multi-color span:nth-child(10n + 6) {
  color: var(--blue);
}

.text--multi-color span:nth-child(10n + 7) {
  color: var(--red);
}

.text--multi-color span:nth-child(10n + 8) {
  color: var(--green-dark);
}

.text--multi-color span:nth-child(10n + 9) {
  color: var(--yellow);
}

.text--multi-color span:nth-child(10n + 10) {
  color: var(--red);
}

.button-play {
  margin: 0 auto 0;
  font-size: 2rem;
  padding: 1rem;
  width: 15rem;
  background-color: var(--red);
  border: 4px solid var(--black);
  box-shadow: var(--item-shadow);
}
a .button-play {
  color: var(--black);
}

.button-play:hover {
  background-color: var(--yellow);
}

.button-play:active {
  background-color: var(--blue);
  box-shadow: var(--item-shadow);

  transform: translateY(4px);
}

a.p-egg-link .running-mario {
  display: none;
}

.section__title {
  color: var(--white);
  box-shadow: var(--item-shadow);
}

.section__title,
.text.two-columns {
  position: relative;
  z-index: 20;
}

.section__title--first {
  background-color: var(--transparent-orange);
}

.section__title--second {
  background-color: var(--transparent-red);
}

.section__title--third {
  background-color: var(--transparent-green);
}

.section__title--fourth {
  background-color: var(--transparent-blue);
}

.text {
  z-index: 100;
  padding: 0 10px;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;

  text-align: justify;
  background-color: var(--bg-text);
  box-shadow: var(--item-shadow);
}

.history-ol {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5rem;

  font-size: 1.2rem;
  box-shadow: var(--item-shadow);
}

p.two-columns {
  column-count: 1;
  /* column-gap: 30px; */
  /* font-size: 1.2rem; */
}

p.one-column {
  /* font-size: 1.2rem; */
}

.image {
  display: none;
}

.float-left {
  width: 10rem;
  float: left;
  margin-right: 10px;
}

.float-right {
  width: 10rem;
  float: right;
  margin-left: 10px;
}

.video {
  width: 560px;
  height: 315px;
}

.egg-container {
  position: relative;
}

.egg-tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
}

.bg-audio {
  display: none;
}

.cursor-mario {
  cursor: url('../img/cursor/mario-cursor32x32.cur'), auto;
}

.footer {
  flex: 0 0 auto;
  font-family: 'VT323', monospace;
  width: 100%;
  height: 3rem;
  background-color: var(--yellow);
  border-top: 4px solid var(--black);
}

.site-footer__desktop-text {
  display: none;
}
