.header {
  position: relative;
  z-index: 10;
  width: 100%;
  min-height: 4rem;

  font-size: 1.3rem;
  background-color: var(--indigo);
  border-bottom: var(--border-small);
}

.header__mobile-nav {
  text-align: start;
}

.mobile-nav__item {
  width: 65%;
  visibility: hidden;
  transition: all 0.5s;
  translate: -100%;
}

.nav__link {
  display: block;
  color: inherit;
}
.header__mobile-nav .nav__link {
  padding: 0.4rem 0 0.4rem 2.5rem;
  background-color: var(--orange);
  border: var(--border-small);
}
.mobile-nav__toggle {
  display: none;
}
.mobile-nav__toggle:checked ~ .mobile-nav__item {
  visibility: visible;
  translate: 0;
}
.mobile-nav__floating-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: var(--yellow);
  border: var(--border-small);
  padding: 0 0.5rem;
  cursor: pointer;
}

.header__desktop-nav {
  display: none;
}
.desktop-nav__list {
  padding: 1rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.desktop-nav__list li {
  list-style-type: none;
}
.desktop-nav__separator {
  display: none;
}

.nav__link:hover {
  transform: translateY(-4px);
  color: var(--yellow);
}

.hero__title {
  font-size: 2.5rem;
  text-shadow: var(--text-shadow);
}

.title--multi-color {
  display: inline-block;
}

.title--multi-color span:nth-child(10n + 1) {
  color: var(--blue);
}

.title--multi-color span:nth-child(10n + 2) {
  color: var(--yellow);
}

.title--multi-color span:nth-child(10n + 3) {
  color: var(--red);
}

.title--multi-color span:nth-child(10n + 4) {
  color: var(--green-dark);
}

.title--multi-color span:nth-child(10n + 5) {
  color: var(--yellow);
}

.title--multi-color span:nth-child(10n + 6) {
  color: var(--blue);
}

.title--multi-color span:nth-child(10n + 7) {
  color: var(--red);
}

.title--multi-color span:nth-child(10n + 8) {
  color: var(--green-dark);
}

.title--multi-color span:nth-child(10n + 9) {
  color: var(--yellow);
}

.title--multi-color span:nth-child(10n + 10) {
  color: var(--red);
}

.button {
  margin: 0 auto 0;
  font-size: 1.3rem;
  padding: 1rem;
  width: 15rem;
  background-color: var(--red);
  border: var(--border-small);
  box-shadow: var(--item-shadow);
}

a .button {
  color: var(--black);
}

.button:hover {
  background-color: var(--yellow);
}

.button:active {
  background-color: var(--blue);
  box-shadow: var(--item-shadow);

  transform: translateY(4px);
}

.hero__button-text {
  font-size: 0.6rem;
  margin-top: 0.5rem;
  background-color: var(--primary-light);
}

a.hero__egg-link .hero__egg-img {
  display: none;
}

.section__title {
  color: var(--white);
  box-shadow: var(--item-shadow);
}

.section__title,
.section__text.text--two-columns {
  position: relative;
  z-index: 20;
}

.title--first {
  background-color: var(--transparent-orange);
}

.title--second {
  background-color: var(--transparent-red);
}

.title--third {
  background-color: var(--transparent-green);
}

.title--fourth {
  background-color: var(--transparent-blue);
}

.section__text {
  z-index: 50;
  padding: 0 10px;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;

  text-align: justify;
  background-color: var(--bg-text);
  box-shadow: var(--item-shadow);
}

.history-ol {
  max-width: 100%;
  padding: 0 2rem;
  font-size: 1rem;
  box-shadow: var(--item-shadow);
}

p.text--two-columns {
  column-count: 1;
}

.section__img {
  display: none;
}

.img--float-left {
  width: 10rem;
  float: left;
  margin-right: 10px;
}

.img--float-right {
  width: 10rem;
  float: right;
  margin-left: 10px;
}

.video__content {
  width: 100%;
}

.egg-content {
  position: relative;
}

.egg-tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
}

.bg-audio {
  display: none;
}

.cursor-mario {
  cursor: url('../img/cursor/mario-cursor32x32.cur'), auto;
}

.footer {
  flex: 0 0 auto;
  font-family: 'VT323', monospace;
  width: 100%;
  height: 3rem;
  background-color: var(--yellow);
  border-top: var(--border-small);
}

.footer__text {
  display: none;
}

.accordion__summary {
  padding: 0.5rem 0;
}

.label,
.input {
  display: block;
}

.message__wrapper {
  padding: 1rem;
  margin: 0 auto;
}

.contact__form {
  margin: 0 auto;
}

.radio-group__label {
  font-size: 1rem;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.contact__input {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: var(--border-small);
}

.contact__input:hover {
  border: 2px solid #797878;
}

.contact__input:focus {
  outline: 3px solid var(--indigo);
}

.contact__submit-button {
  font-size: 1rem;
  padding: 0.5rem;
  width: 10rem;
}

.contact__radio-group {
  text-align: center;
  display: flex;
}

.radio-group__item {
  font-size: 1rem;
}

.radio-group__item:not(:last-child) {
  margin-right: 0.5rem;
}

.radio-item__label--none-color {
  min-width: 4rem;
  font-size: 0.6rem;
}

legend {
  font-size: 1rem;
  text-align: center;
}

.radio-item__dot {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--gray);
  border-radius: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* --------- 1 -------- */
.radio-item__dot--tomato ~ label {
  color: tomato;
}
.radio-item__dot--tomato:checked {
  background-color: var(--white);
  border: 2px solid tomato;
}
.radio-item__dot--tomato::after {
  height: 0.5em;
  width: 0.5em;
  background-color: tomato;
  border-radius: 100%;
  content: '';
  visibility: hidden;
}
.radio-item__dot--tomato:checked::after {
  visibility: visible;
}
/* --------- 2 -------- */
.radio-item__dot--coral ~ label {
  color: coral;
}

.radio-item__dot--coral:checked {
  background-color: var(--white);
  border: 2px solid coral;
}
.radio-item__dot--coral::after {
  height: 0.5em;
  width: 0.5em;
  background-color: coral;
  border-radius: 100%;
  content: '';
  visibility: hidden;
}
.radio-item__dot--coral:checked::after {
  visibility: visible;
}
/* --------- 3 -------- */
.radio-item__dot--salmon ~ label {
  color: salmon;
}

.radio-item__dot--salmon:checked {
  background-color: var(--white);
  border: 2px solid salmon;
}
.radio-item__dot--salmon::after {
  height: 0.5em;
  width: 0.5em;
  background-color: salmon;
  border-radius: 100%;
  content: '';
  visibility: hidden;
}
.radio-item__dot--salmon:checked::after {
  visibility: visible;
}

/* --------- 4 -------- */
.radio-item__dot--black:checked {
  background-color: var(--white);
  border: 2px solid var(--black);
}
.radio-item__dot--black::after {
  height: 0.5em;
  width: 0.5em;
  background-color: var(--gray);
  border-radius: 100%;
  content: '';
  visibility: hidden;
}
.radio-item__dot--black:checked::after {
  visibility: visible;
}

.error__img {
  width: 6rem;
  margin-bottom: 1rem;
}
.text--center {
  text-align: center;
}

.text--large {
  font-size: 1.3rem;
}

.text--small {
  ont-size: 0.94rem;
}
