@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
  font-family: 'Visitor';
  src: url(../fonts/visitor1.ttf);
}

:root {
  --blue: #007bff;
  --cyan: #17a2b8;
  --gray-dark: #343a40;
  --gray: #6c757d;
  --secondary: #6c757d;
  --green: #28a745;
  --green-dark: #208c39;
  --indigo: #6610f2;
  --info: #17a2b8;
  --light: #f8f9fa;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --primary: #6b8bfb;
  --purple: #6f42c1;
  --red: #dc3545;
  --success: #28a745;
  --teal: #20c997;
  --white: #fff;
  --yellow: #ffc107;
  --black: #000;
}
html {
  width: 100%;
}

body {
  width: 100%;
  background: url('../img/bg11.jpeg');
  background-color: #6b8bfb;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
}

html,
body {
  height: 100%;
  margin: 0;
}
