@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
  font-family: 'Visitor';
  src: url(../fonts/visitor1.ttf);
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --primary: #6b8bfb;
  --primary-light: #aebffc;
  --blue: #007bff;
  --yellow: #ffc107;
  --orange: #fd7e14;
  --red: #dc3545;
  --pink: #e83e8c;
  --indigo: #6610f2;
  --cyan: #17a2b8;
  --green: #23cb4b;
  --green-dark: #208c39;
  --transparent-orange: rgba(255, 170, 0, 0.8);
  --transparent-red: rgba(255, 0, 0, 0.8);
  --transparent-green: rgba(0, 255, 34, 0.8);
  --transparent-blue: rgba(0, 21, 255, 0.8);
  --bg-text: rgba(255, 255, 255, 0.8);
  --shadow: rgba(0, 0, 0, 0.5);

  --item-shadow: 7px 7px 0px 0px var(--shadow);
  --text-shadow: 7px 7px 0px var(--shadow);
  --border-big: 4px solid var(--black);
  --border-mid: 3px solid var(--black);
  --border-small: 2px solid var(--black);
}
html {
  width: 100%;
}

body {
  width: 100%;
  background-color: var(--primary-light);
}

html,
body {
  height: 100%;
  margin: 0;
}
