@import './global.css';

.wrapper {
  height: 100vh;
  font-family: 'Visitor', 'VT323', monospace;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
}

/* .contact--wrapper {
  height: 100vh;
  font-family: 'Visitor', 'VT323', monospace;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
} */

.main {
  flex: 1 0 auto;
}
.hero-section {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content__section {
  margin-bottom: 1rem;
}
.content__section--bigger-space {
  margin: 2rem 0 3rem;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2%;
}
