@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* breakpoint-xxl: 1400px; */
/* breakpoint-laptop-xl: 1200px; */
/* breakpoint-laptop-l: 992px; */
/* breakpoint-medium: 768px; */
/* breakpoint-small: >576px; */
/* breakpoint-x-small: <576px; */

/* max-HEIGHT: 1050px */
/* @media (min-width: 1400px) { */
@media (min-width: 1920px) {
  body {
    background-image: url('../img/bg11.jpeg');
    background-color: #6b8bfb;
    background-position: bottom;
    background-repeat: repeat;
    background-size: contain;
  }
}

/* breakpoint-medium: 768px */
@media (max-width: 768px) {
  body {
    /* background: none;
    background-color: #6b8bfb; */
    background-image: url('../img/bg12.jpeg');
    background-color: #6b8bfb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .running-mario {
    display: none;
  }
  .video {
    width: 400px;
    height: 225px;
  }
  p.two-columns {
    font-size: 1.5rem;
    column-count: 1;
  }
  p.one-column {
    font-size: 1.5rem;
  }
  .float-left {
    width: 8rem;
    margin-right: 10px;
  }

  .float-right {
    width: 8rem;
    margin-left: 10px;
  }
}

/* breakpoint-tablet-s: 610px */
@media (max-width: 610px) {
  .main-title {
    font-size: 4rem;
  }
  .video {
    display: none;
  }
}

/* breakpoint-mobile-l: 425px */
@media (max-width: 425px) {
  .container {
    max-width: 95%;
    padding: 0 2%;
  }
  .main-title {
    font-size: 3rem;
  }
  .button-play {
    padding: 0.8rem;
    width: 10rem;
    font-size: 1.2rem;
  }
  .float-left {
    width: 6rem;
    margin-right: 6px;
  }
  .float-right {
    width: 6rem;
    margin-left: 6px;
  }

  .history-ol {
    padding-left: 2rem;
    padding-right: 1rem;
  }
}

/* breakpoint-mobile-m: 375px */
@media (max-width: 375px) {
  .content {
    max-width: 95%;
    padding: 0 2%;
  }
  .site-nav_menu {
    font-size: 1.3rem;
  }
  .main-title {
    font-size: 2.5rem;
  }
  .button-play {
    font-size: 1.3rem;
    padding: 0.7rem;
  }
  p.two-columns {
    font-size: 1.1rem;
  }
  p.one-column {
    font-size: 1.1rem;
  }
  .image {
    display: none;
  }
  .float-left {
    display: none;
  }
  .float-right {
    display: none;
  }
  .history-ol {
    font-size: 1rem;
  }
}

/* breakpoint-mobile-s: 320px */
@media (max-width: 320px) {
  .button-play {
    font-size: 1rem;
  }
}
