@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* breakpoint-xxl: 1400px; */
/* breakpoint-laptop-xl: 1200px; */
/* breakpoint-laptop-l: 992px; */
/* breakpoint-medium: 768px; */
/* breakpoint-small: >576px; */
/* breakpoint-x-small: <576px; */

/* breakpoint-mobile-m: 375px */
@media (min-width: 375px) {
  .content {
    max-width: 95%;
    padding: 0 2%;
  }
  .site-nav_menu {
    font-size: 1.3rem;
  }
  .main-title {
    font-size: 2.5rem;
  }
  .button-play {
    font-size: 1.3rem;
    padding: 0.7rem;
  }
  /* p.two-columns {
    font-size: 1.1rem;
  } */
  /* p.one-column {
    font-size: 1.1rem;
  } */
  /* .image {
    display: none;
  } */
  .float-left {
    display: none;
  }
  .float-right {
    display: none;
  }
  .history-ol {
    font-size: 1rem;
  }
}

/* breakpoint-mobile-l: 425px */
@media (min-width: 425px) {
  body {
    background: linear-gradient(
        0deg,
        rgba(227, 227, 227, 0.8),
        rgba(227, 227, 227, 0.3)
      ),
      url('../img/bg12.jpeg');

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .container {
    max-width: 95%;
    padding: 0 2%;
  }
  .main-title {
    font-size: 3rem;
  }
  .button-play {
    padding: 0.8rem;
    width: 10rem;
    font-size: 1.2rem;
  }
  .float-left {
    width: 6rem;
    margin-right: 6px;
  }
  .float-right {
    width: 6rem;
    margin-left: 6px;
  }
  .history-ol {
    padding-left: 2rem;
    padding-right: 1rem;
  }
}

/* breakpoint-tablet-s: 610px */
@media (min-width: 610px) {
  .main-title {
    font-size: 5rem;
  }
  .video {
    display: none;
  }

  p.two-columns {
    column-count: 2;
    column-gap: 30px;
  }
}

/* breakpoint-medium: 768px */
@media (min-width: 767px) {
  body {
    background: url('../img/bg11.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
  }

  .hero-section {
    height: 100vh;
    margin-top: -7rem;
    margin-bottom: 2rem;
  }

  @keyframes runningMario {
    from {
      transform: translateX(-1000%);
    }

    to {
      transform: translateX(1000%);
    }
  }
  a.p-egg-link .running-mario {
    display: block;
    width: 9rem;
    z-index: 10;
    position: fixed;
    bottom: 4.7rem;
    animation: runningMario 10s linear infinite;
  }

  .bg-audio {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .video {
    width: 400px;
    height: 225px;
  }

  .image {
    display: inline-block;
  }

  .float-left {
    width: 8rem;
    margin-right: 10px;
  }

  .float-right {
    width: 8rem;
    margin-left: 10px;
  }
  .footer {
    height: fit-content;
  }
  .site-footer__desktop-text {
    display: inline;
  }
}
