@font-face {
  font-family: 'Visitor';
  src: url(../fonts/visitor1.ttf);
}

:root {
  --breakpoint-xxl: 2560px;
  --breakpoint-laptop-l: 1440px;
  --breakpoint-laptop: 1170px;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-s: 610px;
  --breakpoint-mobile-l: 425px;
  --breakpoint-mobile-m: 375px;
  --breakpoint-mobile-s: 320px;
  --blue: #007bff;
  --cyan: #17a2b8;
  --gray-dark: #343a40;
  --gray: #6c757d;
  --secondary: #6c757d;
  --green: #28a745;
  --green-dark: #208c39;
  --indigo: #6610f2;
  --info: #17a2b8;
  --light: #f8f9fa;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --primary: #007bff;
  --purple: #6f42c1;
  --red: #dc3545;
  --success: #28a745;
  --teal: #20c997;
  --white: #fff;
  --yellow: #ffc107;
  --black: #000;
}

html {
  width: 100%;
}

body {
  width: 100%;
  background: url('../img/bg1.jpg');
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  font-family: 'Visitor', 'VT323', monospace;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2%;
}

.hero-section {
  position: relative;
  top: -5rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section {
  margin-bottom: 3rem;
}

.button-play {
  margin: 0 auto 0;
  font-size: 2rem;
  padding: 1rem;
  width: 15rem;
  background-color: var(--red);
  border: 4px solid var(--black);

  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.49);
}
a .button-play {
  color: var(--black);
}

.button-play:hover {
  background-color: var(--yellow);
}

.button-play:active {
  background-color: var(--blue);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.69);

  transform: translateY(4px);
}

.subtitle {
  color: var(--white);
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.49);
}

.subtitle-first {
  background-color: rgba(255, 170, 0, 0.8);
}

.subtitle-second {
  background-color: rgba(255, 0, 0, 0.8);
}

.subtitle-third {
  background-color: rgba(0, 255, 34, 0.8);
}

.subtitle-fourth {
  background-color: rgba(0, 21, 255, 0.8);
}

.text {
  padding: 0 10px;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;

  text-align: justify;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.49);
}

.history-ol {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5rem;

  font-size: 1.2rem;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.49);
}

.history-ol-item {
}

p.two-columns {
  column-count: 2;
  column-gap: 30px;
  font-size: 1.2rem;
}

p.one-column {
  font-size: 1.2rem;
}

.last-p {
  margin-bottom: 10rem;
}

.float-left {
  width: 10rem;
  float: left;
  margin-right: 10px;
}

.float-right {
  width: 10rem;
  float: right;
  margin-left: 10px;
}

.video {
  width: 560px;
  height: 315px;
}

.egg-container {
  position: relative;
}
.p-egg {
  width: 100px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 7px dotted var(--yellow);
  display: inline-block;
  overflow: hidden;
}
/* title styles */
.egg-tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
}

.tooltip-text {
  font-family: 'VT323', monospace;
  width: 130px;
  visibility: hidden;
  background-color: var(--secondary);
  color: #fff;
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  /* title */
  left: 20px;
  margin-left: 60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.egg-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.bg-audio {
  position: fixed;
  bottom: 0;
  right: 0;
}

.cursor-mario {
  cursor: url('/img/cursor/mario-cursor32x32.cur'), auto;
}
