@font-face {
  font-family: 'Visitor';
  src: url(../fonts/visitor1.ttf);
}

@font-face {
  font-family: 'Visitor-small';
  src: url(../fonts/visitor2.ttf);
}

:root {
  --breakpoint-xl: 1170px;
  --breakpoint-lg: 970px;
  --breakpoint-md: 750px;
  --breakpoint-sm: 550px;
  --breakpoint-xs: 0;
  --blue: #007bff;
  --cyan: #17a2b8;
  --gray-dark: #343a40;
  --gray: #6c757d;
  --secondary: #6c757d;
  --green: #28a745;
  --green-dark: #208c39;
  --indigo: #6610f2;
  --info: #17a2b8;
  --light: #f8f9fa;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --primary: #007bff;
  --purple: #6f42c1;
  --red: #dc3545;
  --success: #28a745;
  --teal: #20c997;
  --white: #fff;
  --yellow: #ffc107;
  --black: #000;
}

* {
  /* font-family: 'VT323', monospace; */
}

html {
  width: 100%;
}

body {
  width: 100%;
  background: url('../img/bg1.jpg');
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
}

html,
body {
  height: 100%;
  margin: 0;
}

@media (max-height: 1050px) {
  body {
    background-size: cover;
  }
}

header {
  width: 100%;
  height: fit-content;
  font-size: 1.5rem;
  background-color: var(--indigo);
  border: 4px solid var(--black);
}

.wrapper {
  font-family: 'Visitor', 'VT323', monospace;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: var(--breakpoint-lg);
  max-width: 80%;
  padding: 0 2%;
}

.header-nav {
  padding: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header-nav li {
  list-style-type: none;
}

.header-nav li a {
  color: inherit;
}

.header-nav li a:hover {
  transform: translateY(-4px);
  color: var(--yellow);
}

.hero-section {
  height: 100vh;
}

.section {
  margin-bottom: 3rem;
}

.main-title {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.text--multi-color {
  display: inline-block;
  margin: 20px 0 25px;
  text-transform: uppercase;
}

.text--multi-color span:nth-child(10n + 1) {
  color: var(--blue);
}

.text--multi-color span:nth-child(10n + 2) {
  color: var(--yellow);
}

.text--multi-color span:nth-child(10n + 3) {
  color: var(--red);
}

.text--multi-color span:nth-child(10n + 4) {
  color: var(--green-dark);
}

.text--multi-color span:nth-child(10n + 5) {
  color: var(--yellow);
}

.text--multi-color span:nth-child(10n + 6) {
  color: var(--blue);
}

.text--multi-color span:nth-child(10n + 7) {
  color: var(--red);
}

.text--multi-color span:nth-child(10n + 8) {
  color: var(--green-dark);
}

.text--multi-color span:nth-child(10n + 9) {
  color: var(--yellow);
}

.text--multi-color span:nth-child(10n + 10) {
  color: var(--red);
}

.button-play {
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem;
  width: 15rem;
  background-color: var(--red);
  border: 4px solid var(--black);

  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.49);
}
a .button-play {
  color: var(--black);
}

.button-play:hover {
  background-color: var(--yellow);
}

.button-play:active {
  background-color: var(--blue);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.69);

  transform: translateY(4px);
}

.subtitle {
  color: var(--white);
}

.subtitle-first {
  background-color: rgba(255, 170, 0, 0.8);
}

.subtitle-second {
  background-color: rgba(255, 0, 0, 0.8);
}

.text {
  padding: 0 10px;
  font-family: 'VT323', monospace;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.8);
}

p.two-columns {
  column-count: 2;
  column-gap: 30px;
  font-size: 1.2rem;
}

.float-left {
  width: 10rem;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.footer {
  flex: 0 0 auto;

  font-family: 'VT323', monospace;

  width: 100%;
  height: fit-content;
  background-color: var(--yellow);
  border: 4px solid var(--black);
}

@media (max-width: 425px) {
  .main-title {
    font-size: 2.5rem;
  }
  p.two-columns {
    font-size: 1.5rem;
    column-count: 1;
  }
}
@media (max-width: 340px) {
  .wrapper {
    max-width: 95%;
    padding: 0 2%;
  }

  .header-nav {
    font-size: 1.3rem;
  }

  .button-play {
    width: 80%;
    font-size: 1.5rem;
  }
}
